<meta name="description" content="{{ if .IsPage }}{{ .Params.tldr | default .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="keywords" content="{{ if .Params.tags }}{{ delimit .Params.tags ", " }}{{ else }}{{ .Site.Params.keywords }}{{ end }}">
<meta name="author" content="{{ .Site.Params.author }}">
<link rel="canonical" href="{{ .Permalink }}">

<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ if .IsPage }}{{ .Params.tldr | default .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:image" content="{{ if .Params.image }}{{ .Params.image }}{{ else }}{{ .Site.BaseURL }}images/default-og.png{{ end }}">
<meta property="og:site_name" content="{{ .Site.Title }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ if .IsPage }}{{ .Params.tldr | default .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="twitter:image" content="{{ if .Params.image }}{{ .Params.image }}{{ else }}{{ .Site.BaseURL }}images/default-og.png{{ end }}">

{{ if .IsPage }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "NewsArticle",
    "headline": "{{ .Title }}",
    "image": [
      "{{ if .Params.image }}{{ .Params.image }}{{ else }}{{ .Site.BaseURL }}images/default-og.png{{ end }}"
    ],
    "datePublished": "{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}",
    "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}",
    "author": [{
      "@type": "Person",
      "name": "{{ .Site.Params.author }}",
      "url": "{{ .Site.BaseURL }}"
    }]
  }
</script>
{{ end }}